h1 {
    color: rgb(32, 245, 4);
}


.header{
    background-color: rgb(98, 16, 230);
    display: flex;
    justify-content: space-between;

}
.grid {
    display : flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content : flex-end;
}